body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("logo.png");
    background-size: cover;        /* makes the image cover the entire div */
    background-position: center;   /* centers the image */
    background-attachment: fixed;
    background-repeat: no-repeat;  /* prevents tiling */
}

.profile-card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.919);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #c0bdbd;
    text-align: center;
    width: 500px;
}
.avatar-container {
	position: absolute;
	top: -75px;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	height: 150px;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h1 {
    margin: 60px 0 5px;
    font-size: 1.5em;
}

h6 {
    color: #777;
    font-size: 1em;
    margin: 5px 0 15px;
    padding-bottom: 5px;
    /*border-bottom: 1px solid #d8d2d2;*/
}

p {
    font-size: 0.9em;
    color: #555;
    padding-bottom: 5px;
    border-bottom: 1px solid #d8d2d2;
}

.social-links {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d8d2d2;

}

.social-links img {
    width: 30px;
    padding-bottom: 10px;
    margin: 0px 20px;
}

.blog-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #bcbfc2;
    color: rgb(54, 52, 52);
    border-radius: 5px;
    text-decoration: none;
}

.blog-link:hover {
    background-color: #677079;
}



/*profilecard */
.profile-card {
    perspective: 1000px;
    margin: 0px 0px;
}
.profile-card:hover{
    background-color: white;
}
.profile-card-inner {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.profile-card-back {
    position: fixed;
    backface-visibility: hidden;
    border-radius: 0px;
}

.profile-card-back {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-top: -154px;
    transform: rotateY(180deg);
}

.swapped .profile-card-inner {
    transform: rotateY(180deg);
}

/*
.profile-card:hover .profile-card-inner {
    transform: rotateY(360deg);
}
*/


.nav-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f8d5f5b4;
    /*border: 1px solid #bcbfc2;*/
    color: rgb(54, 52, 52);
    border-radius: 5px;
    text-decoration: none;
}

.nav-link:hover {
/*    background-color: #de96ff;*/
    background-color: #f8d5f5;
}

/*Flashcard 1*/
.flashcard1 {
    perspective: 1000px;
    margin: 0px auto;
}

.flashcard1-inner {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.flashcard1-back {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
}

.flashcard1-back {
    background-color: rgba(0, 0, 0, 0.292);
    backdrop-filter: blur();
    border: 1px solid rgb(209, 209, 209);
    display: grid;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 0px;
    position: fixed;
    margin-top: -400px;
    margin-right: 500px;
    transform: rotateY(180deg);
    border-radius: 5px;
}
.row{
    display: flex;
}
.tile {
    background-color: #8260e97c;
    background-image: url("user.svg");
    background-size: auto;        /* makes the image cover the entire div */
    background-position: center;   /* centers the image */
    background-repeat: no-repeat;  /* prevents tiling */
    border: 1px solid #c0bdbd;
    border-radius: 5px;
    margin: 40px;
    padding: 25px;
}

.flipped .flashcard1-inner {
    transform: rotateY(180deg);
}
/*
.flashcard1:hover .flashcard1-inner {
    transform: rotateY(180deg);
}
*/


/* Mobile Optimization */
@media (max-width: 600px) {
    .flashcard1-back {
        margin-top: -500px;
        width: 100%;  /* Make navbar take full width */
        height: 80vh;
    }

    .content-card,
    .intro {
        width: 90%;  /* Reduce width to fit mobile screens */
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 1.2em;  /* Reduce font size for mobile */
    }

    h6 {
        font-size: 0.9em;
    }

    p {
        font-size: 0.8em;
    }

    .web-link {
        padding: 8px 12px;  /* Adjust padding for mobile */
    }
}
