body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("logo.png");
    background-size: cover;        /* makes the image cover the entire div */
    background-position: center;   /* centers the image */
    background-attachment: fixed;
    background-repeat: no-repeat;  /* prevents tiling */
    padding: 0;
}
.content{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-top: 70px;
    height: 100vh;
    
}
.navbar{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    margin: 0 auto;
    z-index:1000;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: white;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    /*margin-bottom: 100px;*/
    border-radius: 5px;
    border-top-right-radius:0px ;
    border-top-left-radius:0px ;
    border: 1px solid #949292;
    text-align: center;
    /*width: 800px;*/
    width: 90vw;
}
.nav {
    margin-left:20px;
}
.logos{
    margin-right:20px;
}
.nav-link{
    display: inline-block;
    padding: 5px 10px;
    background-color: #f4f4f4;
    /*border: 1px solid #bcbfc2;*/
    color: rgb(54, 52, 52);
    border-radius: 5px;
    text-decoration: none;
}

.nav-link:hover {
/*    background-color: #de96ff;*/
    /* border: 1px solid #de96ff; */

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
    -3px -3px 3px #f8d5f5 inset;
}

.navbar img {
    height: 26px;  /* Adjust size according to design */
    width: auto;   /* Keep aspect ratio intact */
    display: inline-block;  /* Ensure SVGs are inline elements */
    vertical-align: middle; /* Vertically center the SVGs */
    padding-right: 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
    overflow: hidden;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.dropdown-content a:hover {
    background-color: #f8d5f5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-link {
    position: relative;
    padding: 10px 16px;
}

.active-link {
    background-color: #f8d5f5;
    border-bottom: 2px solid #5c3a7a;
}

.intro {
    position: relative;
    background-color: transparent;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid transparent;
    text-align: center;
}
.content-card {
    z-index:0;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.919);
    padding: 0px;
    border-radius: 5px;
    border: 1px solid #949292;
    text-align: center;
    /* width: 800px; */
    width: 90vw;
    margin-bottom: 20px;
}
.content-card:hover{
    box-shadow: 12px 12px 12px  #f8d5f5;
    background-color: white;
}
 
.content-card:hover h1{
    color: #830083f6;
}

.screenshot-button img{
    height: 24px;
    width: auto;
    padding: 5px;  
    vertical-align: middle;
    background-color: #f4f4f4;
    border-radius: 5px;
}
.screenshot-button img:hover{
    background-color: #f8d5f5;
}

/* Style for the dialog itself */
dialog {
    background-color: transparent;
    border: none;
    padding: 0;
    /* width: 90%; */
    width: 100vw;
}
.arrow {
    position: absolute;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    /* padding: 5px;
    padding-left: 10px;
    padding-right: 10px; */
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Close button for the dialog */
.close-button {
    position: absolute;
    top: 0px;
    right: 5px;
    background-color: rgba(245, 101, 44, 0.699);
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 139, 139);
    padding: 5px 8px;
    padding-top: 4px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 50%;
}

.close-button:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

/*For Roahos*/
/* Image viewer inside the dialog */
.image-viewer1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image-viewer1 img {
    width: auto;
    max-height: 10%;
    height: 550px;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#prev1 {
    left: -0px;
}

#next1 {
    right: -0px;
}

/*For Hyprland*/
/* Image viewer inside the dialog */
.image-viewer2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image-viewer2 img {
    width: auto;
    height: 550px;
    object-fit:cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#prev2 {
    left: -0px;
}

#next2 {
    right: -0px;
}
/*For wifi script*/
/* Image viewer inside the dialog */
.image-viewer3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image-viewer3 img {
    width: auto;
    height: 550px;
    object-fit:cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#prev3 {
    left: -0px;
}

#next3 {
    right: -0px;
}
/*End of image viewer*/
h1 {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}


h6 {
    color: #777;
    font-size: 1em;
    margin: 5px 0 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #949292;
    /*border-bottom: 1px solid #d8d2d2;*/
}

p {
    font-size: 0.9em;
    margin: 10px;
    color: #555;
    padding-bottom: 5px;
    border-bottom: 1px solid #949292;
}

.web-link {
    display: inline-block;
    padding: 10px 15px;
    /*background-color: ;*/
    border: 1px solid #bcbfc2;
    color: rgb(54, 52, 52);
    border-radius: 5px;
    text-decoration: none;
}

.web-link:hover {
    background-color: #f8d5f5;
}

/* Mobile Optimization */
@media (max-width: 600px) {
    .navbar {
        width: 100vw;  /* Make navbar take full width */
        padding-left: 10px; /* Adjust padding for mobile */
        padding-right: 10px;
    }

    .content-card,
    .intro {
        width: 95%;  /* Reduce width to fit mobile screens */
        margin-left: auto;
        margin-right: auto;
    }
    dialog {
        width:100vw;
    }
    .image-viewer1{
        width: 100%;
        height: auto;
    }
    .image-viewer1 img {
        width: 100%;
        height: auto;
    }
    .image-viewer2{
        width: 100%;
        height: auto;
    }
    .image-viewer2 img {
        width: 100%;
        height: auto;
    }
    .image-viewer3{
        width: 100%;
        height: auto;
    }
    .image-viewer3 img {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 1.2em;  /* Reduce font size for mobile */
    }

    h6 {
        font-size: 0.9em;
    }

    p {
        font-size: 0.8em;
    }

    .web-link {
        padding: 8px 12px;  /* Adjust padding for mobile */
    }
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: #888;
    font-size: 14px;
}


